@page "/"

<div class="card">
    <div class="card-content">
        <div class="content">
            <section id="area_login" class="">
                <form class="">

                    <div class="columns is-centered">
                        <div class="is-half column form_login">
                            <label>Email: </label>
                            <input class="input" type="text" placeholder="Text input">
                        </div>
                    </div>

                    <div class="columns is-centered form_login">
                        <div class="is-half column">
                            <label>Senha: </label>
                            <input class="input" type="text" placeholder="Text input">
                        </div>
                    </div>

                    <hr />

                    <label class="checkbox">
                        <input type="checkbox">
                        Já possuo conta
                    </label>
                </form>
            </section>
        </div>
    </div>
</div>

